<form {{action "save" on="submit"}}>
  <div class="form-group">
      {{# if model.lastLogin }}
        <p><small>Last login: {{ moment-format currentUser.user.lastLogin 'MMMM D, YYYY'}}</small></p>
      {{ else }}
        <p><small>Last login: Never</small></p>
      {{/if}}

      <label for="username">Username</label>
      {{input name="username" class="form-control" type="text" value=model.username placeholder="Username"}}

      <label for="firstName">Email</label>
      {{input name="email" class="form-control" type="email" value=model.email placeholder="Email"}}

      <label for="firstName">First Name</label>
      {{input name="firstName" class="form-control" type="text" value=model.firstName placeholder="First Name"}}

      <label for="lastName">Last Name</label>
      {{input name="lastName" class="form-control" type="text" value=model.lastName placeholder="Last Name"}}

      <label for="password">Password</label>
      {{input name="password" class="form-control" type="password" value=model.password placeholder="Password"}}

      {{#if (and currentUser.user (or currentUser.user.isSuperuser currentUser.user.isStaff)) }}
        <div class="checkbox">
          <label for="active">{{input name="password" type="checkbox" checked=model.isActive }} Active</label>
        </div>
      {{/if}}

      {{#if (and currentUser.user currentUser.user.isSuperuser) }}
        <div class="checkbox">
          <label for="isStaff">{{input name="password" type="checkbox" checked=model.isStaff }} Staff</label>
        </div>

        <div class="checkbox">
          <label for="isAdmin">{{input name="password" type="checkbox" checked=model.isSuperuser }} Admin</label>
        </div>
      {{/if}}

    <button type="submit" class="btn btn-default">Save</button>
  </div>
</form>
