<section class="content-header">
  <h1>
    <i class="fa fa-users"></i> Current Users
    <small>There
      {{#if (gt model.length 1)}}are{{else}}is{{/if}}
      {{model.length}}
      {{#if (gt model.length 1)}}users{{else}}user{{/if}} subscribed
    </small>
  </h1>
</section>


<section class="content">

	<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <p> {{link-to "Add a new user" "users.new" }} </p>
    </div>
  </div>

  {{#if model.length}}
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th> Name </th>
            <th colspan="2"> Actions </th>
            <th> Username </th>
            <th> Email </th>
            <th> Active </th>
            <th> Staff </th>
            <th> Admin </th>

          </tr>
        </thead>
        <tbody>
          {{#each model as |user|}}
            {{ log user }}

            <tr>
              <td> {{ user.firstName }} {{ user.lastName }} </td>
              <td> {{# link-to "users.edit" user }}<i class="fa fa-pencil"></i>{{/link-to}}</td>
              <!-- <td> {{ link-to "Show" "users.show" user }} </td> -->
              <td> <a href="#" {{action "remove" user}}><i class="fa fa-trash"></i></a> </td>
              <td> {{ user.username }}</td>
              <td> {{ user.email }}</td>
              <td> {{#if user.isActive}}<i class="fa fa-check"></i>{{else}}<i class="fa fa-close"></i>{{/if}}</td>
              <td> {{#if user.isStaff}}<i class="fa fa-check"></i>{{else}}<i class="fa fa-close"></i>{{/if}}</td>
              <td> {{#if user.isSuperuser}}<i class="fa fa-check"></i>{{else}}<i class="fa fa-close"></i>{{/if}}</td>

            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  {{else}}
    <p id="blankslate">
      No Users found
    </p>
  {{/if}}




</section>
