<p>
  {{link-to "User list" "users.index" }}
</p>

<h1>User show</h1>

<p>
  <strong>Username:</strong>
  <span>{{model.username}}</span>
</p>

<p>
  <strong>First name:</strong>
  <span>{{model.firstName}}</span>
</p>

<p>
  <strong>Last name:</strong>
  <span>{{model.lastName}}</span>
</p>

<p>
  <strong>Email:</strong>
  <span>{{model.email}}</span>
</p>

<p>
  <strong>Active:</strong>
  <span>{{model.active}}</span>
</p>

<p>
  <strong>Is superuser:</strong>
  <span>{{model.isSuperuser}}</span>
</p>

<p>
  <strong>Boolean:</strong>
  <span>{{model.boolean}}</span>
</p>

<p>
  <strong>Is active:</strong>
  <span>{{model.isActive}}</span>
</p>

<p>
  <strong>Is staff:</strong>
  <span>{{model.isStaff}}</span>
</p>

