<form {{action "save" on="submit"}}>
  <div class="form-group">

      <label for="time">Time (Minutes)</label>
      {{input name="time" class="form-control" type="number" value=model.time placeholder="45 minutes" autofocus=true required=true}}

      <label for="distance">Distance (Kilometers)</label>
      {{input name="distance" class="form-control" type="number" value=model.distance placeholder="5 km" required=true}}

      <label for="averageSpeed">Average Speed (km/h)</label>
      {{input name="averageSpeed" class="form-control" type="number" value=model.speedFixed disabled=true}}

      <label for="date">Date</label>
      {{input name="date" class="form-control" type="text" value=model.date placeholder="YYYY-MM-DD" required=true}}

      <label for="location">Location</label>
      {{input name="location" class="form-control" type="text" value=model.location placeholder="Central Park" required=false}}

      <label for="details">Details</label>
      {{textarea name="details" class="form-control" type="text" value=model.details placeholder="Run details" required=false}}

      {{ input name="userId" class="form-control" type="hidden" value=model.userId placeHolder=user}}

    <button type="submit" class="btn btn-default">Save</button>
  </div>
</form>
