<section class="content-header">
  <h1>
    <i class="fa fa-dashboard"></i> My running dashboard
    <small>You have {{model.length}}
      {{#if (gt model.length 1)}}runs{{else}}run{{/if}} recorded
    </small>
  </h1>
</section>

<section class="content">
	<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      {{#link-to "runRegisters.new" currentUser.user.id }}Add running record{{/link-to}}
    </div>
  </div>

  {{#if model.length}}
    {{partial "run-registers/data-table"}}
    {{partial "run-registers/data-summary"}}
  {{else}}
    <p id="blankslate">
      You have no running data
    </p>
  {{/if}}

</section>
