<p>
  {{link-to "Runregister list" "runRegisters.index" }}
</p>

<h1>Runregister show</h1>

<p>
  <strong>Details:</strong>
  <span>{{model.details}}</span>
</p>

<p>
  <strong>Time:</strong>
  <span>{{model.time}}</span>
</p>

<p>
  <strong>Date:</strong>
  <span>{{model.date}}</span>
</p>

<p>
  <strong>Finished:</strong>
  <span>{{model.finished}}</span>
</p>

