<section class="loginSection">

  {{#if signupComplete}}
    <p>Signup complete.</p>
  {{else}}
  <form {{action 'register' on='submit'}}>


    <div>
      {{#if usernameErrors }}
        <ul class="error">
          {{#each usernameErrors as |error|}}
            <li>{{error}}</li>
          {{/each}}
        </ul>
       {{/if}}
        <div class="form-group text-left">
            <label for="username">Username</label>
            {{input type="text" id='username' class="form-control" placeholder='Username' required="" value=username}}
        </div>
    </div>

    <div>
      {{#if emailErrors }}
        <ul class="error">
          {{#each emailErrors as |error|}}
            <li>{{error}}</li>
          {{/each}}
        </ul>
       {{/if}}
        <div class="form-group text-left">
            <label for="email">Email</label>
            {{input type="email" id='email' class="form-control" placeholder='email@example.com' required="" value=email}}
        </div>
    </div>

    <div>
      {{#if passwordErrors }}
        <ul class="error">
          {{#each passwordErrors as |error|}}
            <li>{{error}}</li>
          {{/each}}
        </ul>
       {{/if}}
        <div class="form-group text-left">
            <label for="password">Password</label>
            {{input id='password' class="form-control" placeholder='Password' type='password' value=password required=""}}
        </div>
    </div>

    <div>
      {{#if passwordErrors }}
        <ul class="error">
          {{#each passwordErrors as |error|}}
            <li>{{error}}</li>
          {{/each}}
        </ul>
       {{/if}}
        <div class="form-group text-left">
            <label for="confirm_password">Confirm Password</label>
            {{input name="confirm_password" id='confirm_password' class="form-control" placeholder='Confirm Password' type='password' value=confirm_password required=""}}
        </div>
    </div>
        
    <p>
      <button class="btn btn-default submit" type="submit">
          Sign Up
      </button>
    </p>

    {{#if errorMessages }}
      <ul class="error">
        {{#each errorMessages as |error|}}
          <li>{{error}}</li>
        {{/each}}
      </ul>
     {{/if}}

  </form>
  {{/if}}
</section>
{{outlet}}
