<section class="resetPasswordSection">
  {{#if passwordResetComplete}}
    <p>An email has been sent to your email address.</p>
    {{#link-to 'index'}}Home{{/link-to}}
  {{else}}
  <form {{action 'resetPassword' on='submit'}}>


    <div>
      {{#if errorMessages }}
        <ul class="error">
          {{#each errorMessages as |error|}}
            <li>{{error.detail}}</li>
          {{/each}}
        </ul>
       {{/if}}

      <div class="form-group text-left">
        <label for="email">Please enter your email address</label>
        {{input id='email' class="form-control" placeholder='Enter email' required="" value=email type="email"}}
      </div>
    </div>

     <button class="btn btn-default submit" type="submit">
       Reset Password
     </button>

  </form>
  {{/if}}
</section>

{{outlet}}
